header {
   display: flex;
   justify-content: space-between;
   padding: 1rem 3rem;
   font-size: 0.8rem;
}

button {
   cursor: pointer;
}

button,
a {
   font-size: 0.88rem;
}

.logo-nav-wrapper {
   display: flex;
   gap: 4rem;
   align-items: center;
}

.logo {
   font-size: 2rem;
}

.nav-bar__item button {
   color: var(--text-color);
   display: flex;
   gap: 0.5rem;
   align-items: center;
}

.nav-bar__list ul {
   display: flex;
   align-items: center;
   gap: 3rem;
}

.nav-bar__link {
   color: var(--text-color);
}

.access {
   display: flex;
   gap: 2rem;
}

.access a {
   display: flex;
   align-items: center;
   color: var(--text-color);
}

.register {
   border: solid 1px;
   border-radius: 10px;
   padding: 0.74rem 1rem;
   transition-property: color, background;
   transition-duration: 0.5s;
}

.register:hover {
   background-color: var(--background-button);
   color: var(--text-button);
}

.burguer {
   display: none;
}

@media (max-height: 768px) {
}
