.content {
   display: flex;
   justify-content: center;
   gap: 5rem;
   padding-top: 3rem;
}

.description {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 35%;
}

.description__text {
   display: flex;
   flex-direction: column;
   gap: 3rem;
   justify-content: center;
}

.description__text > h2 {
   color: var(--title-color);
   display: flex;
   flex-direction: column;
}

.description__text > h2 > span {
   font-size: 4rem;
}

.description__text > p {
   color: var(--text-color);
   padding: 0 3rem 0 0;
}

.description__icons {
   display: flex;
   justify-content: space-around;
   align-items: center;
   gap: 1rem;
   width: 100%;
}

.button {
   cursor: pointer;
   background-color: var(--background-button);
   color: var(--text-button);
   border-radius: 1.5rem;
   padding: 1rem;
   width: 50%;
   transition: background 0.5s ease-in-out;
}

.button:hover {
   background-color: var(--button-hover);
}

.description__icons > div > img {
   width: 100%;
}

.main-image picture {
   display: flex;
   justify-content: center;
   width: 30%;
   max-height: 500px;
}

.main-image > picture {
   width: 100%;
}

.main-image img {
   max-height: inherit;
}

@media (max-width: 768px) {
   .content {
      display: flex;
      justify-content: center;
      flex-direction: column-reverse;
      align-items: center;
      padding: unset;
   }

   .description {
      width: unset;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 5rem;
   }

   .description__text {
      display: flex;
      align-items: center;
   }

   .description__text > h2 {
      display: flex;
      flex-direction: row;
      gap: 0.65rem;
      text-align: center;
   }

   .description__text > p {
      font-size: 1.7rem;
      padding: 0 3rem;
   }

   .button {
      font-size: 2rem;
      padding: 1.5rem;
   }

   .main-image {
      width: 100%;
   }

   .main-image picture {
      display: flex;
      max-height: unset;
      justify-content: center;
   }

   .main-image img {
      display: flex;
      justify-content: center;
      width: 100%;
   }
}
