@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root {
   --title-color: hsl(0, 0%, 8%);
   --text-color: hsl(0, 0%, 41%);
   --background: hsl(0, 0%, 98%);
}

* {
   font-family: 'Epilogue', sans-serif;
}
